<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name ="TestDataSection" type="Core.Configuration.TestDataSection, Core"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="TestLog.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <TestDataSection>
    <DriverConfig currentDriver="Chrome">
      <Drivers>
        <Driver type="Chrome" timeout="00:00:30"/>
        <Driver type="Remote" url ="http://127.0.0.1:4444/wd/hub" timeout="00:00:30"/>
      </Drivers>
    </DriverConfig>
    <EnvironmentConfig currentEnvironment="Prod">
      <Environments>
        <Environment type="Prod" ui="https://google.com" api="https://jsonplaceholder.typicode.com"/>
        <Environment type="Demo" ui="https://demo.google.com" api="https://demo.jsonplaceholder.typicode.com"/>
      </Environments>  
    </EnvironmentConfig>
    <TestResults path="TestResults" file="TestLog.txt"/>
    <MessageQueues>
      <MessageQueue queueName="PrivateQueue" path=".\private$\TestQueue" sharedModeDenyReceive="false" enableCache="false" accessMode="SendAndReceive"/>
    </MessageQueues>
    <Databases>
      <Database dbName="TestDb" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True"/>
    </Databases>
  </TestDataSection>
</configuration>