<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="TestDataSection" type="Core.Configuration.TestDataSection, Core"/>
  </configSections>
  <TestDataSection>
    <DriverConfig currentDriver="Chrome">
      <Drivers>
        <Driver type="Chrome" timeout="00:00:30"/>
        <Driver type="Remote" url ="http://127.0.0.1:4444/wd/hub" timeout="00:00:30"/>
      </Drivers>
    </DriverConfig>
    <EnvironmentConfig currentEnvironment="Prod">
      <Environments>
        <Environment type="Prod" ui="https://google.com" api="https://jsonplaceholder.typicode.com"/>
        <Environment type="Demo" ui="https://demo.google.com" api="https://demo.jsonplaceholder.typicode.com"/>
      </Environments>  
    </EnvironmentConfig>
    <TestResultFolder path="TestResults"/>
  </TestDataSection>
</configuration>